@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}
h1 {
  background-color:#1A2330;
  margin: 0;
  padding-top: 30px;
  text-align: center;
  color: #fff;
}
.picker {
  position: relative;
}
button {
  padding: 10px;
  background-color: #7288A5;
  color: #fff;
  border: none;
  padding: 30px;
  border-radius: 10px;
  outline: none;
  font-weight: 700;
  font-size: 1rem;
}
p {
  color: #fff;
}